* {
  font-size: 14pt;
  font-family: monospace;
}
body {
  background-color: black;
  color: white;
}
#srctext {
  display: block;
}
#heading {
  padding: 0;
  display: none;
}
#content {
  white-space: pre-wrap;
  display: none;
  border-bottom: medium solid #C0C0C0;
  padding-bottom: .6em;
  margin-bottom: .6em;
}
#content img {
  display: block;
  height: auto;
  padding: .6em 0;
}
#content div,
#content span {
  margin: 0;
  padding: 0;
}
#content div {
  width: 100%;
  line-height: 20px;
  min-height: 20px;
}
.tbar {
  width: 100%;
  background-color: rgb(0, 0, 127);
  color: rgb(192, 192, 192);
  padding: 3px 3px 3px 0;
}
.hdtitle {
  background-color: rgb(192, 192, 192);
  color: rgb(0, 0, 127);
  padding: 5px;
}
.ralign {
  float: right;
  margin-top: -3px;
}
#btitle {
  padding-top: 3px;
  padding-bottom: 3px;
}
#board {
  margin: 0 0 0 6px;
}
.ruler {
  margin: 8px 0;
  border-bottom: medium solid #C0C0C0;
}
a {
  color: #12FFFF;
}
a img {
    border: none;
}
